/**
 * More Minimalist Gmail userstyle
 * http://snarfed.org/more_minimalist_gmail
 * Ryan Barrett <more-minimalist-gmail@ryanb.org>
 *
 * Aggressively hides Gmail's UI and chrome, leaving a simplified view of your
 * email, labels, and search box. Inspired by Matt Constantine's Minimalist
 * Gmail, http://mattconstantine.com/mg .
 *
 * Tips:
 *
 * Use keyboard shortcuts! This userstyle expects that you do; it's pretty
 * much unusable otherwise. More details:
 * http://support.google.com/mail/bin/answer.py?hl=en&answer=6594
 *
 * If you're using Stylish, you can temporarily show the hidden features by
 * turning off Stylish. Click the Stylish icon and select Turn all styles off.
 * When you're done, select Turn all styles on. Bonus tip: if you do this
 * often, add a keyboard shortcut with the keyconfig browser extension.
 *
 * You can hide individual labels in the GMail settings Labels tab. This
 * includes built in labels like Starred, Important, Chats, Circles, etc.
 *
 * Changelog:
 * 0.18 5/29/2012:
 * - significantly shrink top header and put search box to the right of labels
 * 0.17 5/12/2012:
 * - update selectors for footer and conversation view right side pane
 * 0.16 3/15/2012:
 * - new footer selector
 * 0.15 2/24/2012:
 * - update many selectors for top-level items (logo, search button)
 * - re-hide search box right side "advanced options" drop-down arrow
 * 0.14 11/21/2011:
 * - conversation view: show top right, per message drop-down More menu
 * 0.13 11/17/2011:
 * - bug fix: show Move to and Labels pop-up menus (thanks John Marshall!)
 * - show print and new window buttons in conversation view
 * 0.12 11/14/2011
 * - new gmail selectors
 * - bug fixes for chrome
 * 0.11 11/7/2011
 * - bug fix: unhide move to and labels pop-up menus
 * - hide bottom and left borders around labels
 * - switch compose to show bottom send, save, discard buttons, not top ones
 * - hide reply, reply all, forward tabs in reply view
 * - show new contact button
 * - other misc bug fixes and refactorings 
 * 0.10 11/6/2011
 * - total overhaul for new gmail UI
 * 0.9 8/12/2011
 * - bug fix: don't hide notification bar
 * - show expand all button
 * 0.8.1 8/8/2011
 * - bug fix to individual contact view
 * 0.8 8/1/2011
 * Significant redesign to condense and improve usability, especially in smaller
 * or narrow browser windows.
 * - moved labels above conversation/thread view
 * - condensed top search box area
 * - made widths all auto so that everything follows your browser's width
 * - bug fix: don't hide To and CC labels in compose area
 * - hide new "Import mail & contacts" link
 * - hide Sent Mail and All Mail labels
 * selector fixes:
 * - logo
 * - re-hide stars
 * 0.7 5/13/2011
 * selector fixes:
 * - header/footer buttons in list and conversation view
 * - expand all and new window buttons in conversation view
 * - right side username in new top header
 * - ...and more!
 * 0.6 3/27/2011
 * - more selector updates to handle GMail updates
 * 0.5 3/23/2011
 * - update misc selectors to handle GMail updates, including the new top bar
 * 0.4 1/24/2011
 * - clean up main display: none selector list
 * - remove bottom commented section of selectors (does more harm than good)
 * - hide *all* list view buttons but still support mo(v)e and (l)abel keys
 * - hide ads on bottom of conversation view
 * - hide the google talk presence indicator
 * - re-hide stars in both list and conversation view
 * 0.3 11/12/2010
 * - show built in labels like Inbox, Drafts when they have unread messages
 * - show Move to Inbox button
 * - hide new top right header sections
 * 0.2
 * - show Settings link in upper right
 * - re-hide stars
 * 0.1
 * - initial release
 *
 * Note: sometimes buttons need to be displayed (ie not display: none) for their
 * keyboard shortcuts to work. in those cases, hide them with opacity: 0 instead.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(mail.google.com) {

/* The primary list of things to hide.
 *
 * Note the use of the > child selector. The * universal selector is
 * *descendant*, ie any depth, not just direct child.
 */
div#gbx1, div#gbbw, /* parts of sandbar? */
div#gbx3, div#gbx4, /* sandbar gray background */
div#gbz,            /* sandbar left side links (Mail, Calendar, etc. */
ol.gbtc > li,       /* sandbar right side (settings button is special-cased below) */
div.aeG,            /* footer in list view*/
div.nH.Gn,          /* footer in conversation/compose views */
div.w-asK.w-atd,    /* at the bottom: About the new look | Send Feedback */
td.w-as0.w-asZ,     /* old blue search button */
div#gbqfbw,         /* new blue search button */
div.aoo.J-JN-I,     /* drop-down arrow in search box */
div.w-asL,          /* old GMail logo */
div#gbq1,           /* new "google bar" logo */
div#gbpr,           /* pop-up help bubble for new "google bar" */
div.G-Ni.J-J5-Ji,   /* top buttons */

/* Left side */
div.aki.pp,         /* container for big Mail/Contacts/Tasks drop down */
div.n6,             /* "# more" link */
div.aic,            /* Compose button container */
div.aio > span.nU,  /* Inbox, Sent Mail, Drafts label */
div.PCbdGf.fy1Lpf,  /* All Mail label */
div.akc,            /* chat buddy list */
hr.aeS,             /* border below labels */

/* List view */
div.ar5.J-J5-Ji,    /* 1-2 of 3, next/prev arrows */
td.apU > span,      /* per thread stars */

/* Conversation view */
div.GAvrIe,         /* next/prev thread, settings buttons */
div.iG.J-J5-Ji,     /* 1-2 of 3, next/prev arrows */
div.f6,             /* "xxx is not available to chat" */
td.Bu.y3,           /* right side pane (ads, etc.) */
/* span.hk.J-J5-Ji,    /\* expand all, print, new window buttons *\/ */
div.OH0apf,         /* in-message ads */
div.aaq,            /* top right reply arrow button */
span.T-KT,          /* top right per message stars */

/* Compose view */
td.fA,              /* Check Spelling link */
span.es.el,         /* Rich formatting link */
td.eF > span.b2,    /* Insert span in Insert Invitation */
td.eF > span.el.ou, /* Invitation link in Insert Invitation */
td.aaL,             /* new window button next to To box */

/* Reply view (a few extra things on top of compose view) */
div.ej > div > div.eh > div.dW.E,  /* top send, save now, discard buttons (the bottom ones stay) */
table.cf.gz,        /* reply, reply all, forward tabs */

noop_end_selector_list
{
  display: none !important;
}

/* A whitelist of exceptions that shouldn't be hidden.
 */
div.aio > span.nU.n1,          /* Inbox, Drafts *when they have messages* */
ol.gbtc > li:last-child,       /* top-level header settings button */
span.hk.J-J5-Ji:nth-child(2),  /* expand all button */
/* div.T-I.J-J5-Ji.ash.T-I-ax7.L3,   /\* settings gear button *\/ */
noop_end_selector {
  display: inline !important;
}

/* Top level container and search box (first selector), labels and
 * message/conversation view containers (second selector). This removes the
 * minimum widths and makes them adjust to the * browser's width.
 */
div.lKgBkb,  /* labels container */
body > div > div.nH,      /* outer container and search box */
body > div > div.nH > div.nH > div.nH > div.no > div.nH.nn,  /* content container */
div.nH.NUxIad.bsvFKf      /* contact content container */
{
  width: auto !important;
  height: auto !important;
}

/* shrink top header div */
div#gb {
  height: 10px !important;
}

/* put search box to the right of the labels */
#gbqf {
  position: fixed !important;
  right: 5px !important;
  top: 5px !important;
}


/* content container. only needed for chrome. */
div.no {
  width: 100% !important;
}

/* content container. only needed for chrome. */
body > div > div.nH > div.nH > div.nH > div.no > div.nH.nn {
  display: block !important;
  float: none !important;
}

/* show labels horizontally (inline) */
div.n3 * {
  display: inline !important;
}

/* colored drop-down menus right of labels. can't hide with display: none
 * because they're inside the div.n3 above. */
div.aig {
  opacity: 0;
}

/* put search box behind Move to and Labels pop-up menus (they're z-index 7) */
div.nH.w-asV {
  z-index: auto !important;
}

/* hide borders */
div.w-asV, /* top header and search box header */
div.ain,   /* left of labels with unread messages */
td.xY      /* between each thread in list view */
{
  border: none !important;
}

}
